.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  width: calc((100% - (3 * 20px)) / 4); 
  height: 50px;
  background-color: rgb(29, 192, 29);
  color: white;
  border-radius: 4px;

  display: flex;
  justify-content: center; 
  align-items: center; 
}